@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/**
 공통 레이아웃, 속성
 */
header {
    background-color: #f33737;
    display: block;
    width: 100%;
}

main {
    margin:1rem auto;
    width:80%;
    max-width: 80rem;
    display:block;
}

main > form {
    margin:auto;
    //TODO 센터
}
