{{define "contents"}}
<main>
    {{if .Error}}
        <p> {{ .Error }}</p>
    {{end}}
    <form action="/admins" method="post" class="pure-form pure-form-stacked">
        {{if .UserInstanceID }}
        <input type="hidden" value="{{.UserInstanceID}}" name="userInstanceID">
        {{end}}
        <label for="user-id">사용자ID</label><input id="user-id" type="text" name="userID" value="{{.UserID}}">
        <label for="user-name">사용자이름</label><input id="user-name" type="text" name="userName" value="{{.UserName}}">
        <label for="user-password">비밀번호</label><input id="user-password" type="text" name="userPassword" value="{{.UserPassword}}">
        <label for="user-role">사용자권한</label><input id="user-role" type="text" name="userRole" value="{{.UserRole}}">
        <input type="submit" value="생성"></form>
</main>
{{ end }}
